/* input {
  border: 0 none;
  color: #ffffff;
  height: 17px;
  margin: 0 13px 0 0;
  text-align: center;
  width: 17px;
} */

.tikititikita {
  padding: 5px;
  margin: 1%;
  --x: 50%;
  --y: 50%;

  position: relative;
  appearance: none;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  outline: none;
  /* border-radius: 40px; */
  border: 4px solid transparent;
  background: linear-gradient(#000, #000) padding-box,
    radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2)
      border-box;
}

button {
  background-color: beige;
  color: black;
  padding: 5px;
  margin: 4%;
  --x: 50%;
  --y: 50%;

  position: relative;
  appearance: none;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid transparent;
  background: linear-gradient(rgb(253, 251, 251), #000) padding-box,
    radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2)
      border-box;
}

input,
textarea {
  margin: 4%;
  --x: 50%;
  --y: 50%;

  position: relative;
  appearance: none;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid transparent;
  background: linear-gradient(#000, #000) padding-box,
    radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2)
      border-box;
}

pre {
  max-width: 750px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img.upc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 30%; */
  border-radius: 50%;
}
