<body>
  <form class="tikititikita" action="nannys" method="POST">
    <h1>Edit your Profile </h1>
    <pre> 
            <!-- <img class="upc" [src]="url" height="200" width="200" alt="profile pic" />
            <button  type="button" (click)="readAndChange()"  >  edit profile picture   </button> -->

            <button  type="button" (click)="readAndChange()"  >  Edit Profile   </button>
            First Name    <input  [readonly]="isReadOnly" type="text" name="FirstName" value='nanny.FirstName'> <br> 

            Last Name      <input [readonly]="isReadOnly" type="text" name="LastName" value='<%=nanny.LastName%>'> <br> 
          

            Age    <input [readonly]="isReadOnly" name="Age" value='<%=nanny.Age%>'> <br> 
          

            Email  <input [readonly]="isReadOnly" type="email" name="Email" value='<%=nanny.Email%>'> <br> 

            Region      <input [readonly]="isReadOnly" type="text" name="Region" value='<%=nanny.Region%>'> <br> 
          

            Phone Number    <input [readonly]="isReadOnly" type="number" name="PhoneNumber" value='<%=nanny.PhoneNumber%>'> <br> 

            About  <textarea  [readonly]="isReadOnly" type="text" name="About" value='<%=nanny.About%>' > </textarea> <br> 
          

            <input type="submit" value="Save Profile">  
        </pre>
  </form>
</body>
