<form
  #userPost="ngForm"
  (ngSubmit)="onSubmit(userPost.value)"
  method="GET"
  action="profile"
>
  <div class="form-group">
    <h2 class="upc" style="text-align: center">Profile Pic</h2>
    <img class="upc" [src]="url" height="200" width="200" alt="profile pic" />
    <br />
    <input
      style="display: none"
      type="file"
      (change)="onFileSelected($event)"
      #fileInput
    />
    <button type="button" (click)="fileInput.click()" class="btn btnOne">
      upload profile pic
    </button>
    <button type="button" style="display: none" (click)="onUpload()">
      Upload
    </button>

    <br />
    <br />
    <br />
    <label class="upc" for="firstName">First Name :</label>
    <input
      required
      minlength="5"
      maxlength="20"
      ngModel
      name="firstName"
      #firstName="ngModel"
      id="firstName"
      type="text"
      class="form-control"
      placeholder="First Name"
    />
    <div
      class="alert alert-danger"
      *ngIf="firstName.touched && !firstName.valid"
    >
      <div *ngIf="firstName.errors?.required">First Name is required.</div>
      <div *ngIf="firstName.errors?.minlength">
        First Name minimum
        {{ firstName.errors?.minlength.requiredLength }} characters.
      </div>
      <div *ngIf="firstName.errors?.maxlength">
        First Name should be maximum
        {{ firstName.errors?.maxlength.requiredLength }}characters.
      </div>
    </div>
    <label class="upc" for="lastname">Last Name : </label>
    <input
      required
      minlength="5"
      maxlength="20"
      ngModel
      name="lastName"
      #lastname="ngModel"
      id="lastName"
      type="text"
      class="form-control"
      placeholder="Last Name"
    />
    <div class="alert alert-danger" *ngIf="lastname.touched && !lastname.valid">
      <div *ngIf="lastname.errors?.required">Last Name is required.</div>
      <div *ngIf="lastname.errors?.minlength">
        Last Name minimum
        {{ lastname.errors?.minlength.requiredLength }} characters.
      </div>
      <div *ngIf="lastname.errors?.maxlength">
        Last Name should be maximum
        {{ lastname.errors?.maxlength.requiredLength }}characters.
      </div>
    </div>

    <br />
    <br />
    <br />

    <label class="upc" for="age">age : </label>
    <input
      required
      minlength="1"
      maxlength="2"
      ngModel
      name="age"
      #age="ngModel"
      id="age"
      type="number"
      class="form-control"
      placeholder="Age"
    />

    <div class="alert alert-danger" *ngIf="age.touched && !age.valid">
      <div *ngIf="age.errors?.required">Age is required.</div>
    </div>

    <label class="upc" for="email">email : </label>
    <input
      required
      minlength="5"
      maxlength="20"
      ngModel
      name="email"
      #email="ngModel"
      id="email"
      type="email"
      class="form-control"
      placeholder="Email"
    />

    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
      <div *ngIf="email.errors?.required">Email is required.</div>
    </div>

    <br />
    <br />
    <br />

    <label class="upc" for="region">region : </label>
    <input
      required
      minlength="5"
      maxlength="20"
      ngModel
      name="region"
      #region="ngModel"
      id="region"
      type="text"
      class="form-control"
      placeholder="Region"
    />

    <div class="alert alert-danger" *ngIf="region.touched && !region.valid">
      <div *ngIf="region.errors?.required">region is required.</div>
    </div>

    <label class="upc" for="phoneNumber">Phone Number : </label>
    <input
      required
      minlength="5"
      maxlength="20"
      ngModel
      name="phonenumber"
      #phonenumber="ngModel"
      id="phonenumber"
      type="number"
      class="form-control"
      placeholder="Phone Number"
    />

    <div
      class="alert alert-danger"
      *ngIf="phonenumber.touched && !phonenumber.valid"
    >
      <div *ngIf="phonenumber.errors?.required">Phone Number is required.</div>
    </div>

    <br />
    <br />
    <br />
    <!-- <div class="form-group"> -->
    <label class="upc" for="about">About : </label
    ><textarea
      ngModel
      name="about"
      id="about"
      cols="30"
      rows="10"
      class="form-control"
      required
      minlength="10"
      maxlength="500"
      #email="ngModel"
      type="text"
      placeholder="Information About You"
    ></textarea>

    <div
      class="alert alert-danger"
      *ngIf="phonenumber.touched && !phonenumber.valid"
    >
      <div *ngIf="phonenumber.errors?.required">
        Filling About section required.
      </div>
      <div *ngIf="phonenumber.errors?.minlength">
        about section should have least minimum of
        {{ lastname.errors?.minlength.requiredLength }} characters.
      </div>
    </div>
    <!-- </div> -->

    <button class="btn btnOne" type="submit">Submit</button>
  </div>
</form>
