/* @import "~bootstrap/dist/css/bootstrap/css"; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  background: black;
}
body {
  /* background-size: cover;
  height: 100vh; */
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.alert.alert-danger {
  /* border: 2px solid red;
  background: red; */
  color: red;
  float: right;
  margin-right: 100px;
  position: relative;
  right: -270px;
}

.form-group {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px; */
  max-width: 750px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upc {
  color: white;
}

.form-control {
  padding: 5px;
  margin: 4%;
  --x: 50%;
  --y: 50%;

  position: relative;
  appearance: none;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 40px;
  border: 2px solid transparent;
  background: linear-gradient(#000, #000) padding-box,
    radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2)
      border-box;
}
.form-control,
.msg {
  /* width: 48%; */
}
.form-control .upc,
.msg textarea {
}

.btn {
  padding: 5px;
  margin: 4%;
  --x: 50%;
  --y: 50%;

  position: relative;
  appearance: none;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid transparent;
  background: linear-gradient(#000, #000) padding-box,
    radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2)
      border-box;
}

img.upc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 30%; */
  border-radius: 50%;
}
