<div class="form-container sign-in-container">
  <form #loginForm='ngForm'   (ngSubmit)="onSubmit(loginForm.value)"
  method="POST"  >
      <h1>Sign in</h1>
      <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span>
      <input required
      minlength="5"
      maxlength="20"
      ngModel
      name="Email"
      #Email="ngModel"
      id="Email"
      type="email"
      class="form-control"
      placeholder="Email">
      <input   ngModel name="Password"   #Password="ngModel"   type="password" placeholder="Password"  class="txt" required>
      <a href="#">Forgot your password?</a>
      <button >Sign In</button>
  </form>
</div>