
  <form #loginForm='ngForm'   (ngSubmit)="onSubmit(loginForm.value)"
  method="POST"  >
      <h1>Sign in</h1>
      <input required
      minlength="5"
      maxlength="20"
      ngModel
      name="Email"
      #Email="ngModel"
      id="Email"
      type="email"
      class="form-control"
      placeholder="Email">
      <input   ngModel name="Password"   #Password="ngModel"   type="password" placeholder="Password"  class="txt" required>
      <a href="#">Forgot your password?</a>
      <button >Sign In</button>
  </form>
