



<div class="form-container">
    <a routerLink="/login" id="goback">Go back</a>
  
    <h2>Join now</h2>
  
    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
      
    <form #formData='ngForm'          
    #userPost="ngForm"
    (ngSubmit)="onSubmit(userPost.value)"
    method="GET" >
  
        <input      type="text" placeholder=" First Name" name="Name" class="txt" required>
        <input  type="text" placeholder="Last Name" name="LastName" class="txt" required>
      <input      type="text" placeholder="Email address.." name="email" class="txt" required>
      <input      type="password" placeholder="Password" name="password" class="txt" required>
      <input type="repeatpassword" placeholder="Verify Password"  name="repeatpassword" class="txt" required>
      
  
  
      <button type="submit" [disabled]="!formData.valid" class="basic-btn">Create my account</button>
    </form>
  </div>