
      
    <form  
    #userPost="ngForm"
    (ngSubmit)="onSubmit(userPost.value)"
    method="GET" >
  
        <input  required
        minlength="5"
        maxlength="20"
        ngModel
        name="firstName"
        #firstName="ngModel"
        id="firstName"
        type="text"
        class="form-control"
        placeholder="First Name">
        <input  required
        minlength="5"
        maxlength="20"
        ngModel
        name="lastName"
        #lastname="ngModel"
        id="lastName"
        type="text"
        class="form-control"
        placeholder="Last Name">
        <input type="password" placeholder="Password" name="password" class="txt" required>
      <input type="repeatpassword" placeholder="repeatPassword"  name="repeatpassword" class="txt" required>
      <input required
      minlength="5"
      maxlength="20"
      ngModel
      name="email"
      #email="ngModel"
      id="email"
      type="email"
      class="form-control"
      placeholder="Email">
  
  
      <button type="submit"  class="basic-btn">Create my account</button>
    </form>