<div className="main">
    <h2 className="sign">Register</h2>
    <form className="form" onSubmit={submit} >
        <label htmlFor= "register-email">Email</label>
        <input className="un" type="email"  />

        <label htmlFor= "register-password">Password</label>
        <input className="pass"  type="password" />
        <input className="pass"  placeholder="repeat password"  />

        <label htmlFor= "register-username">User Name</label>
        <input className="un" type="text" )}/>

        <label htmlFor= "register-gender">Male</label>
        <input className="un" type="radio" value="Male" />

        <label htmlFor= "register-gender">Female</label>
        <input className="un" type="radio" value="Female"  />      

        <label htmlFor= "register-age">Age</label>
        <input className="un" type="number" min="18" max="60" />

        </form>
    </div>