#app-navbar {
    align-items:
center;
background-image: linear-gradient(120deg, #00e4d0, #5983e8);
display:flex;
font-family:
-apple-system;
justify-content:
flex-start;
line-height:
24px;
text-align:
left;
}